body {
  background-color: aliceblue;
}

img{
  width: 300px;
}

figcaption {
  text-align: left;
  font-size: 1rem;
  font-style: italic;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  padding: 8px;
}
