body {
  background-color: #99d6ff;
  font-family: 'Courier New', Courier, monospace;
}

img{
  width: 300px;
}

figcaption {
  text-align: left;
  font-size: 1rem;
  font-style: italic;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  padding: 8px;
}

/* Alternating row colors */
tr:nth-child(even) {
  background-color: #b3b3b3; /* Light gray */
}

tr:nth-child(odd) {
  background-color: #808080; /* White */
}
